<!DOCTYPE html>
<html>
<head>
<meta	charset="utf-8">
<title>Ntalk	-	Agenda	de	contatos</title>
</head>
<body>
<header>
<h1>Ntalk</h1>
<h4>Bem-vindo!</h4>
</header>
<section>
<form	action="/entrar" method="post">
<input	type="text" name="usuario[nome]"
placeholder="Nome">
<br>
<input	type="text" name="usuario[email]"
placeholder="E-mail">
<br>
<button	type="submit">Entrar</button>
</form>
</section>
<footer>
<small>Ntalk	-	Agenda	de	contatos</small>
</footer>
		</body>
</html>